<th:block th:fragment="error(error)" th:if="${error != null}">
    <div th:if="${error != null}"
         class="flex items-center text-red-500 text-sm">
        <div class="w-4 h-4 flex-shrink-0 mr-2">
            <svg fill="none"
                 stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 stroke-width="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10"/>
                <line x1="12" x2="12" y1="8" y2="12"/>
                <line x1="12" x2="12" y1="16" y2="16"/>
            </svg>
        </div>
        <span th:text="${error}"></span>
    </div>
</th:block>